.header {
  margin-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__logo {
  padding-top: 45px;
  padding-bottom: 41px;
  min-width: 173px;
  height: 33px;
}

@media screen and (max-width: 620px) {
  .header__logo {
    padding: 0;
    margin: 0;
    padding-bottom: 32px;
    padding-top: 28px;
    width: 126px;
    height: 24px;
  }

  .header {
    margin-top: 28px;
  }
}
